header {
  background-color: rgba(var(--bg-a),1.0);
  position: sticky;
  top: 0;
  z-index: 30;
  box-shadow: 0px 12px 34px rgba(0, 0, 0, 0.1);
}


.header {
  padding: 14px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .coll {
    display: flex;
    align-items: center;
    grid-gap: 32px;
  }
}